body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  min-height: 100vh;
}



.game
{
  position: absolute;
  top: 60%;
  left: 50%;
  border: 3px solid white;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.scoreBoard
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5px auto;
  font-size: 25px;
}

.vs
{
  margin: 5px auto;
}

/*
.gameTable
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  border: 3px solid white;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.scoreTable
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 20px auto;
  font-size: 2rem;
}

.playerR
{
  position: absolute;
  height: 100px;
  width: 10px;
  top: 50%;
  background: white;
  transform: translateY(-50%);
  right: 2%;
}

.playerL
{
  position: absolute;
  height: 100px;
  width: 10px;
  background: white;
  transform: translateY(-50%);
  left: 2%;
}

.ball
{
  position: absolute;
  height: 15px;
  width: 15px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.net
{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 10px;
  background: white;
}
*/